nav {
  border-bottom: 1px solid $keyline;
  margin-left: $pageMargin;
  margin-right: $pageMargin;
  height: $navHeight;
  display: flex;
  align-items: center;
  .title {
    margin-right: 1rem;
  }
  .navItem {
    margin-right: .5rem;
  }
}
