$keyline: #f3f3f3;
$text-01: black;
$imageBackground: #fafafa;
$gridMargin: 1rem;
$pageMargin: 2rem;
$navHeight: 4rem;

@import "partials/masonryGrid.scss";
@import "partials/typography.scss";
@import "partials/projectPage.scss";
@import "partials/nav.scss";

body {
  margin: 0;
}




