<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl | relative_url }}/assets/styles/main.css">
    <script src="{{ site.baseurl | relative_url }}/assets/masonry.js"></script>
    <script src="{{ site.baseurl | relative_url }}/assets/swiper/swiper.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/tdq4uht.css">
    <link rel="stylesheet" href="{{ site.baseurl | relative_url }}/assets/swiper/swiper.min.css">
  </head>
  <body>
    <nav>
      Rich Mason Test
      <a href="/">Work</a>
      <a href="/aboutme/">About me</a>
      <a href="/contact/">Contact</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>

    </footer>
    <script src="{{ site.baseurl | relative_url }}/assets/scripts.js"></script>
  </body>
</html>